/* Variables */
$dsj-grey3: #A0A0A0;
$dsj-grey4: #545454;
$dsj-yellow: #FEC100;
$green: #16a34a;
$white: #fff;
$border-color: #E3E3E3;
$small-font-size: 10px;
$placeholder-color: $dsj-yellow;
$input-background: transparent;

/* ----------------------------------------- */

/* Sticky Effect */
.sidebar {
    .sidebar-content {
        transition: all 0.5s ease-in-out;
        opacity: 1;
        transform: translateY(0);
    }

    .sticky-active {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ----------------------------------------- */

/* Components PrimeVue */
.p-fileupload {
    display: flex;
    justify-content: flex-start;
    color: $dsj-grey3;

    span {
        font-size: 14px;
        color: $dsj-grey4;
    }

    .p-button {
        svg {
            width: 12px;
        }

        span {
            color: $white;
        }

        .p-button-label {
            font-weight: 300;
        }
    }
}

.p-button {

    .p-button-icon::before,
    .p-button.add-date .p-button-icon::before,
    .p-button.delete-date .p-button-icon::before {
        font-size: 10px;
        display: block;
    }

    .p-button-label {
        font-weight: 300;
    }
}

.p-checkbox {
    .p-checkbox-box {
        background-color: $white;
        border: 1px solid $border-color;
        box-shadow: none;
    }

    &.p-checkbox-checked {
        svg {
            color: $green;
        }
    }
}

.p-textarea,
.p-inputtext {
    color: $dsj-grey4;
    box-shadow: none;
}

.p-paginator-current {
    color: $dsj-grey3;
}

.p-paginator-first,
.p-paginator-prev,
.p-paginator-next,
.p-paginator-last {
    color: $dsj-yellow;

    &.p-disabled {
        color: $border-color;
    }
}

.p-datepicker,
.p-datepicker-timeonly {
    input::placeholder {
        color: $dsj-grey4;
        box-shadow: none;
    }

    &-day-selected {
        background-color: $dsj-yellow;
    }
}

.date-picker {
    input {
        color: transparent;
        pointer-events: none;
    }

    .pi-calendar {
        color: inherit;
    }
}

.p-select-option-selected {
    background-color: $dsj-yellow;
    color: $white;
}

.p-drawer-title {
    color: $dsj-yellow;
    font-weight: normal;
    text-transform: uppercase;
}

.p-drawer-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* ----------------------------------------- */

/* Buttons */
.btn-sm-arrow {
    .p-button-icon::before {
        font-size: 14px;
    }
}

.btn-add-event {
    .pi {
        font-size: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* ----------------------------------------- */

/* Sidebar */
.sidebar {
    border-right: 1px solid $border-color;
}

/* Filterbar */
.filterbar {
    .p-button {
        padding-left: 16px;

        .p-button-icon::before {
            font-size: 16px;
        }
    }

    .date-picker,
    .az-filter,
    .tag-filter,
    .mobile-filters,
    .search-bar {
        input {
            background-color: $input-background;
            box-shadow: none;

            &::placeholder {
                color: $placeholder-color;
            }
        }
    }

    .date-picker .p-inputtext {
        background-color: $input-background;
        box-shadow: none;
    }

    .date-picker .p-datepicker-input-icon-container,
    .search-bar .pi-search {
        color: $dsj-yellow;
    }

    .mobile-filters {
        padding-left: 7px;
    }

    .search-bar input {
        padding-left: 30px;
    }
}

.filters-mobile {
    .p-button {
        padding-left: 16px;

        .p-button-icon::before {
            font-size: 16px;
        }
    }
}

/* Single Event */
.single-event {
    flex: 1;
    max-width: 32%;
    aspect-ratio: 1/1;

    .event-buttons {
        .p-button .p-button-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &::before {
                font-size: $small-font-size;
            }
        }

        a:has(.pi) {
            font-weight: 300;

            .pi {
                font-size: 9px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

/* Responsive */
@media screen and (max-width: 1366px) {
    .single-event {
        max-width: 31.2%;
    }
}

@media screen and (max-width: 1280px) {
    .single-event {
        max-width: 50%;
        flex: 1 0 48%;
    }

    .p-fileupload span:not(.p-button span) {
        font-size: 10px;
    }
}

@media screen and (max-width: 1120px) {
    .single-event {
        max-width: 47%;
    }
}

@media screen and (max-width: 1024px) {
    .single-event {
        max-width: 100%;
        aspect-ratio: auto;
        flex: 1;
    }

    .event-information {
        label {
            width: 100%;
        }

        .input-group {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
        }
    }

    .event-dates {
        label {
            width: 100%;
        }

        .input-group {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;

            .p-datepicker {
                width: 100%;
            }
                    .p-select {
            width: 100%;
        }
        }
    }

    .event-location {
        label {
            width: 100%;
        }

        .input-group {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
        }

        .p-inputtext {
            width: 100%;
        }

        .p-select {
            width: 100%;
        }
    }

        .event-details {
        label {
            width: 100%;
        }

        .input-group {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
        }

        .p-inputtext {
            width: 100%;
        }

        .p-select {
            width: 100%;
        }

                .p-multiselect {
            width: 100%;
        }
    }

}

@media screen and (max-width: 800px) {
    .filterbar {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        border-right: 0px;
    }

    .p-datepicker-panel {
        right: 0;
        margin: auto;
    }

}

@media screen and (max-width: 500px) {
    .dashboard-container .sidebar {
        border-right: 0px;
    }

    .p-datepicker-panel {
        right: 0;
        margin: auto;
    }
}