html {
    scroll-behavior: smooth;
}

.sticky {
    transition: all 0.5s ease-in-out;
}

/* Variables */
$dsj-grey3: #A0A0A0;
$dsj-grey4: #545454;
$dsj-yellow: #FEC100;
$green: #16a34a;
$white: #fff;
$border-color: #E3E3E3;
$small-font-size: 10px;
$placeholder-color: $dsj-yellow;
$input-background: transparent;


/* Components PrimeVue */
.p-fileupload {
    display: flex;
    justify-content: flex-start;
    color: $dsj-grey3;

    span {
        font-size: 14px;
        color: $dsj-grey4;
    }

    .p-button {
        svg {
            width: 12px;
        }

        span {
            color: $white;
        }

        .p-button-label {
            font-weight: 300;
        }
    }
}

.p-button {
    .p-button-icon::before,
    .p-button.add-date .p-button-icon::before,
    .p-button.delete-date .p-button-icon::before {
        font-size: 10px;
        display: block;
    }
    .p-button-label {
        font-weight: 300;
    }
}

.p-checkbox {
    .p-checkbox-box {
        background-color: $white;
        border: 1px solid $border-color;
        box-shadow: none;
    }
    &.p-checkbox-checked {
        svg {
            color: $green;
        }
    }
}

.p-textarea,
.p-inputtext {
    color: $dsj-grey4;
    box-shadow: none;
}

.p-paginator-current {
    color: $dsj-grey3;
}

.p-paginator-first,
.p-paginator-prev,
.p-paginator-next,
.p-paginator-last {
    color: $dsj-yellow;
    &.p-disabled {
        color: $border-color;
    }
}

.p-datepicker,
.p-datepicker-timeonly {
    input::placeholder {
        color: $dsj-grey4;
        box-shadow: none;
    }
    &-day-selected {
        background-color: $dsj-yellow;
    }
}

.date-picker {
    input {
        color: transparent;
        pointer-events: none;
    }
    .pi-calendar {
        color: inherit;
    }
}

.p-select-option-selected {
    background-color: $dsj-yellow;
    color: $white;
}

/* ----------------------------------------- */

/* Buttons */
.btn-sm-arrow {
    .p-button-icon::before {
        font-size: 14px;
    }
}

/* ----------------------------------------- */

/* Sidebar */
.sidebar {
    border-right: 1px solid $border-color;

    .btn-add-event {
        .pi-plus {
            font-size: $small-font-size;
        }
    }
}

/* Filterbar */
.filterbar {
    .date-picker,
    .az-filter,
    .mobile-filters,
    .search-bar {
        input {
            background-color: $input-background;
            box-shadow: none;

            &::placeholder {
                color: $placeholder-color;
            }
        }
    }

    .date-picker .p-inputtext {
        background-color: $input-background;
        box-shadow: none;
    }

    .date-picker .p-datepicker-input-icon-container,
    .search-bar .pi-search {
        color: $dsj-yellow;
    }

    .mobile-filters {
        padding-left: 7px;
    }

    .search-bar input {
        padding-left: 30px;
    }
}

/* Single Event */
.single-event {
    flex: 1;
    max-width: 32%;
    aspect-ratio: 1/1;

    .event-buttons {
        .p-button .p-button-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &::before {
                font-size: $small-font-size;
            }
        }

        a:has(.pi) {
            font-weight: 300;

            .pi {
                font-size: 9px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

/* Responsive */
@media screen and (max-width: 1366px) {
    .single-event {
        max-width: 31.2%;
    }
}

@media screen and (max-width: 1280px) {
    .single-event {
        max-width: 50%;
        flex: 1 0 48%;
    }
}

@media screen and (max-width: 1120px) {
    .single-event {
        max-width: 47%;
    }
}

@media screen and (max-width: 1024px) {
    .single-event {
        max-width: 100%;
        aspect-ratio: auto;
        flex: 1;
    }
}

@media screen and (max-width: 820px) {
    .dashboard-container .sidebar {
        border-right: 0px;
    }
}

@media screen and (max-width: 768px) {
    .dashboard-container .sidebar {
        border-right: 0px;
    }
}